/* Note to self: redo this with 2 inline divs side by side; this way the image will never overlap the scrollbar */

#galicon{
	padding: 5px 5px 0px 5px;
}

#temp{
	/*height: calc(100vh - 180px); /*Try 475px*/
	width: auto;
	/*max-width: calc(100vh - 180px);*/
	height: auto;
	max-height: calc(100vh - 180px);
}

.galleryinternal1 {
	display: inline-block;
	width: 200px;
	overflow-y: scroll;
	height: calc(100vh - 180px); /*Try calc(100vh-120px) also*/
	position: absolute;
	top: 0px;
	left: 50px;
}

.galleryinternal2 {
	display: inline-block;
	width: calc(100% - 600px);
	padding: 0px 0px 0px 200px;
	position: relative;
}

.icon {
	padding-top: 10px;
	padding-bottom: 20px;
}

.descrip {
/*	text-decoration: overline; */
	font-size: 10px;
}

.fauxlist{
	padding-bottom: -10px;
	padding-top: 10px;
}

/* Does not actually work atm */
.element{
	padding-top: 20px;
}

a {
    color: black;
    text-align: center; 
    font-weight: bold;
	text-decoration: none;

}

.home {
	padding-top: 20px;
}

p {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}