/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2017, 4:18:26 PM
    Author     : christinedai
*/
html {
    height: 100%; /* chain of command for nav height */
}

body {
    text-align: center;
    background-color: #3a3a3a;
    color: white;
    height: 100%; /* chain of command for nav height */
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited, a:hover {
    color: #898989;
    text-decoration: none;
}

a:visited:hover {
    color: white;
}

footer {
    height: 5%;
}

hr {
    width: 50%;
}

.mainhr {
    width: 30%;
}

.uselessnav {
    height: 5vh;
    width: 85%;
    margin: 0 auto; /* center horizontally */
}

.usefulnav {
    width: 85%;
    margin: 0 auto; /* center horizontally */
    font-size: 20px;
    padding-bottom: 20px;
}

.pagetitle {
  font-size: 50px;
}

.pagecontent {
  margin: 0 auto; /* center horizontally */
  width: 85%;
  font-size: 20px;
}

.gallerytitle {
    font-size: 30px;
}

.gallerycontent>img {
    margin: 5px 5px 5px 5px;
    border-radius: 20px;
    width: auto;
    height: 150px;
    cursor: pointer;
}

.gallerycontent>img:hover {
    border-radius: 20px;
}

/* coded with help from W3Schools */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* coded with help from W3Schools */
.modalimg {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 80%;
    height: auto;
}

.modalclose {
    display: inline-block;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
    cursor: pointer;
}

.modalcontent {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* coded with help from W3Schools */
@media only screen {
    .modalcontent {
        max-width: 100%;
    }
}