p {
	font-family: "Lucida Console", Monaco, monospace;
}

div {
	font-family: "Lucida Console", Monaco, monospace;
}

li{
	list-style-position: inside;
}

#padding{
	height: 50px;
}

/*Stats styling*/
#statTitle{
	font-weight: bold;
}

#stats {
	float: left;
	text-align: center;
	width: 25%;
}

#depth{
	text-align: center;
	display: inline-block;
}

#width{
	text-align: center;
	display: inline-block;
}

/*Stats styling ends here*/

/*Inventory styling */
#inventory{
	width: 33%;
	text-align: right;
	float: right;
}

#inventoryTable {
	width: 75%;
	text-align: center;
	margin-left: auto;	/*Need this to center tables :c*/
	margin-right: auto;	/*Need this too :c*/
}

#inventoryTitle{
	font-weight: bold;
	text-align: center;
}

#tools {
	width: 33%;
	text-align: center;
}

#materials {
	width: 33%;
	text-align: center;
}

#treasure {
	width: 33%;
	text-align: center;
}

#inventoryContent {
	display: inline-block;
	min-width: 200px;
	text-align: left;
	list-style: none;
	list-style-position: inside;
	height: 50vh;
	overflow: auto;
	padding-left: 80px;
}
/*End inventory styling*/

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}