p {
	font-family: "Lucida Console", Monaco, monospace;
}

div {
	font-family: "Lucida Console", Monaco, monospace;
}

li{
	list-style-position: inside;
}

button{
	font-family: "Lucida Console", Monaco, monospace;
}

.home{
	position: relative;
	padding-top: 25%;
}

#padding{
	height: 50px;
}

#digSection{
	min-height: 75vh;
	width: 50%;
	float: left;
	text-align: center;
}

#digButton{
	position: relative;
	/*top: 25vh;*/
	height: 100px;
	width: 200px;
}

#digEvents{
	min-height: 20vh;
	padding-top: 10vh;
}

#eventContent{
	
}

#wrapper{
	float: left;
	text-align: center;
	width: 25%;
}

/*Store styling*/
#store{
	text-align: center;
	position: relative;
	-webkit-user-select: none;	/*Removed highlighting*/
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}

#storeTitle{
	margin-top: 50px;
	font-weight: bold;
	padding-bottom: 15px;
}

#storeItem{
   cursor: pointer;
   cursor: hand;
}

.storeContent{
	/*display: inline-block;
	min-width: 150px;
	text-align: center;*/
	height: 40vh;
	overflow: auto;
}
/*Store styling ends here*/

/*Stats styling*/
#statTitle{
	font-weight: bold;
}

#stats {
	/*Everything that was here was moved to "wrapper"*/
}

#depth{
	text-align: center;
	display: inline-block;
}

#width{
	text-align: center;
	display: inline-block;
}
/*Stats styling ends here*/

/*Inventory styling */
#inventory{
	width: 25%;
	text-align: right;
	float: right;
}

#inventoryTable {
	width: 75%;
	text-align: center;
	margin-left: auto;	/*Need this to center tables :c*/
	margin-right: auto;	/*Need this too :c*/
	-webkit-user-select: none;	/*Removed highlighting*/
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}

#inventoryTitle{
	font-weight: bold;
	text-align: center;
}

#tools {
	width: 33%;
	text-align: center;
   cursor: pointer;
   cursor: hand;
}

#materials {
	width: 33%;
	text-align: center;
   cursor: pointer;
   cursor: hand;
}

#treasure {
	width: 33%;
	text-align: center;
   cursor: pointer;
   cursor: hand;
}

#inventoryContent {
	display: inline-block;
	min-width: 200px;
	text-align: center;
	list-style: none;
	list-style-position: inside;
	height: 60vh;
	overflow: auto;
}
/*End inventory styling*/

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
