html, body, div, p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	height: 100%;
	width: 100%;
    background-color: #363636;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#mainlogo, #maincontact {
	width: 100%;
	text-align: center;
}

#mainlogo>p {
	font-size: 70px;
}

#mainlogo>img {
	width: 15%;
	min-width: 100px;
	margin-top: 20px;
}

#maincontact {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 20px;
}

#mainprojects {
	width: 60%;
	margin-left: 20%;
	border-radius: 20px;
	height: 100px;
	font-size: 30px;
	margin-top: 40px;
	text-align: center;
}

.project {
	margin: 10px 0px 10px 0px;
	width: 100%;
	height: 100px;
}

.projdesc {
	color: #adadad;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

.tinylogo {
	width: 30px;
	display: inline-block;
}

.left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#mainprojects>hr {
	width: 50%;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #6b6b6b;
    text-decoration: none;
}

/*
a:visited, a:hover {
    color: #6b6b6b;
    text-decoration: none;
}

a:visited:hover {
    color: white;
}
*/