/* 
    Created on : Jul 26, 2017, 5:55:31 PM
    Author     : christinedai
*/

html {
    height: 100%; /* chain of command for nav height */
}

body {
    text-align: center;
    background-color: #3a3a3a;
    color: white;
    height: 100%; /* chain of command for nav height */
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited, a:hover {
    color: #898989;
    text-decoration: none;
}

a:visited:hover {
    color: white;
}

footer {
    height: 5%;
}

hr {
    width: 50%;
}

.mainhr {
    width: 30%;
}

.uselessnav {
    height: 5vh;
    width: 85%;
    margin: 0 auto; /* center horizontally */
}

.usefulnav {
    width: 85%;
    margin: 0 auto; /* center horizontally */
    font-size: 20px;
    padding-bottom: 20px;
}

.mainmenu.pagetitle {
    font-size: 70px !important;
}

.mainmenu {
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%;
}

.mainlogo>img {
    width: 30%;
    max-width: 250px;
    min-width: 200px;
    height: auto;
}
.pagetitle {
  font-size: 50px;
}

.pagecontent {
  margin: 0 auto; /* center horizontally */
  width: 85%;
  font-size: 20px;
}

.projecttitle {
    font-size: 30px;
    margin-bottom: -10px;
}

.projectdesc {
    font-size: 20px;
    color: #898989;
}

.gallerytitle {
    font-size: 30px;
}

.galleryimg {
    padding: 5px 5px 5px 5px;
}

.aboutdesc {
    font-size: 18px;
}

.contactinfo {
}