.icon {
	padding-top: 45px;
	padding-bottom: 20px;
}

a {
    color: black;
    text-align: center; 
    font-weight: bold;
	text-decoration: none;
}

.home {
	padding-top: 20px;
}

.descr {
	padding-bottom: 20px;
}

.textbox{
	/*margin: auto; */
	/*padding: 20px 10px;	Alters top and bottom*/
	/*line-height: 28px;*/
}

p {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

div {
	padding-top: 40px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}