.icon {
	padding-top: 45px;
	padding-bottom: 20px;
}

a {
    color: black;
    text-align: center; 
    text-decoration: bold;
}

.home {
	padding-top: 20px;
}

.descr {
	padding-bottom: 20px;
}

p {
	/*font-family: "Courier New", Courier, monospace;*/
	text-align: center;
}

div {
	padding-top: 40px;
}